<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="signin.css">

  <link href="assets/css/style.css" rel="stylesheet">
  <meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Register</title>
<meta content="" name="description">
<meta content="" name="keywords">


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="assets/img/PSGiTech Logo.png">
  <title>Sign In Page</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    .container {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .signin-box {
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      max-width: 400px;
      width: 90%;
    }

    .signin-box h2 {
      text-align: center;
      color: #333;
    }

    .input-group {
      margin-bottom: 20px;
    }

    .input-group label {
      display: block;
      margin-bottom: 5px;
      color: #555;
    }

    .input-group input {
      width: 95%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .input-group input:focus {
      outline: none;
      border-color: #67a0f8;
    }

    .btn-primary {
      background-color: #67a0f8;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      display: block;
      text-align: center;
      font-size: 16px;
      transition: background-color 0.3s;
      margin-top: 10%;
    }

    .btn-primary:hover {
      background-color: #3b7ae9;
    }

    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #67a0f8;
      padding: 10px 0;
      text-align: center;
      color: #fff;
    }

    .select-position1 {
      padding: 10px;
      width: 100%;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid #ccc;
    }


    /* Styles for screens smaller than 768px */
    @media (max-width: 768px) {
      .container {
        padding: 20px;
      }
      .signin-box {
        max-width: 100%;
      }
      .btn-primary {
        margin-top: 20px;
      }
    }

    /* Styles for screens smaller than 576px */
    @media (max-width: 576px) {
      .input-group input,
      .select-position1 {
        width: 100%;
      }
    }
  </style>
</head>
<body>
  <header id="header" class="d-flex align-items-center header-inner ">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto" style="    display: flex;justify-content: flex-start;gap: 10px;">
        <!-- Uncomment below if you prefer to use a text logo -->
         <a href="/recruitment" class=""><img src="assets/img/psg.png" alt="" title=""></a>
         <h1 style="text-transform: none;"><a href="/recruitment">PSG<span> iTech</span></a></h1>
        
      </div>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
            <li><a class="nav-link scrollto active" href="/recruitment">Home</a></li>
            <li><a class="nav-link scrollto" href="/recruitment/profile">Profile</a></li>
            <%if(user){%>
                <%if(user.accountType=="hr"){%>
                    <li><a class="nav-link scrollto" href="/recruitment/approval">HR Approval</a></li>
                <%}else if(user.accountType=="hod"){%>
                    <li><a class="nav-link scrollto" href="/recruitment/hodapproval">Hod Approval</a></li>
                <%}else if(user.accountType=="admin"){%>
                    <li><a class="nav-link scrollto" href="/recruitment/approval">HR Approval</a></li>
                    <li><a class="nav-link scrollto" href="/recruitment/hodapproval">Hod Approval</a></li>
                <%}%>
                
            <%}%>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>

        </nav>
        <%if(user){%> 
        <a class="buy-tickets scrollto" href="/recruitment/logout">Logout</a>

    <%}
    else{%>
        <a class="buy-tickets scrollto" href="/recruitment/login">Login</a>
    <%}%>
    </div>
  </header><!-- End Header --> 

  <div class="container">
  

    <div class="signin-box">
      <!-- <h2>LOGIN</h2> -->   
    <% if(message.length > 0) { %>
      <div class=" alert alert-dark">
        <%- message %>
      </div>
      <%}%>
      <form action="/recruitment/login" method="post">
        <div class="input-group">
          <label for="email" ><strong>Email:</strong></label>
          <input type="text" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="input-group">
          <label for="password"><strong>Password:</strong></label>
          <input type="password" id="password" name="password" placeholder="password" required>
        </div>
        <button type="submit" class="btn-primary">Login</button>
      </form>
      <div style="margin-top: 10px; text-align: center;">
        <span><strong>Not have an account?</strong> <a href="/recruitment/signup">Register Here</a></span>
        <br>
      </div>
    </div>
  </div>

  <footer class="footer">
    &copy; 2024 Staff Selection Application
  </footer>
</body>
</html>