<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Email</title>
    <style>
    
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            text-align: justify;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
            text-align: center;
        }
        p {
            color: #666;
        }
        .otp {
            font-size: 24px;
            font-weight: bold;
            color: #007bff;
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>PSG iTech Faculty Recruitment - OTP Verification</h1>
        <center>
        <img
      
        alt="Alternate text"
        border="0"
        class="center autowidth"
        src="https://i.ibb.co/GdGs5T4/PSGi-Tech-Logo.png"
        
        title="Alternate text"
        width="154"
      />
    </center>
        <p>Dear Applicant,<br> Please use the OTP to verify your credentials. This OTP is valid only for the next 5 minutes <br></p>
        <p class="otp">[OTP]</p>
        <p>If you didn't request this OTP, you can safely ignore this email.</p>
        <p>Note: This is a system generated email. Please donot reply.</p>
    </div>
</body>
</html>